{% extends 'base.html' %}

{% block content %}
<h1>Cart</h1>

{% if cart.products.count > 0 %}

<table class="table table-dark table-striped table-hover cart-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody class='cart-body'>
{% for el in cart.products.all %}
    <tr class='cart-products'>
      <th scope="row">{{forloop.counter}}</th>
      <td><a href='{{el.get_absolute_url}}'>{{el.title}}</a></td>
      <td>{{el.description|truncatechars_html:50}}</td>
      <td>{{el.price}} $</td>
      <td>
           {% include 'carts/snippets/remove-product.html' with product_pk=el.pk %}
      </td>
     </tr> 
{% endfor %}
    <tr>
    <tr class="table-light">
    <td class="table-light">TOTAL:</td>
    <td class="table-light"></td>
    <td class="table-light"></td>
    <td class="table-light"> <span class='cart-total'>{{cart.total}} </span> $</td>
    <td class="table-light">
    </td>
    </tr>
  </tbody>
</table>

<div class="d-grid gap-2 col-6 mx-auto">
  <a href='{% url "checkout" %}' class="btn btn-success"> Checkout </a>
</div>

    <div class='cart-item-remove-form' style='
    display: none;
    '>
        {% include 'carts/snippets/remove-product.html '%}
    </div>


{% else %}

Cart is empty

{% endif %}

{% endblock %}