{% extends 'base.html' %}

{% block navbar %}
{% include 'base/navbar.html' with brand_name='Products List!' %}
{% endblock %}

{% block content %}

<div class='row'>
{% for el in product_list %}


<div class='col'>

<div class="card" style="width: 18rem;">
  <img src="{{el.image.url}}" class="card-img-top " alt="...">
  <div class="card-body">
    <h5 class="card-title ">{{el.title}}</h5>
    <p class="card-text">{{el.description}}</p>
    <p class="card-text small">Tags: 
    {% for elx in el.tag_set.all %} 
    <span class="badge bg-dark">{{ elx.title }}</span>  
    {%endfor%}</p>
    <a href="{{el.get_absolute_url}}" class="btn btn-primary">Buy for ${{el.price}}</a>
  </div>
  </div>
</div>



{% endfor %}
</div>
{% endblock %}