<!doctype html>
{% load static %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


{% block base_head %}
    <link rel='stylesheet' href="{% static 'css/main.css' %}">
{% endblock %}

{% include 'base/css.html' %}

<title>{{title}}</title>

</head>


<body class='fw-bolder'>  
       {% block navbar %}
            {% include 'base/navbar.html' with brand_name='Some navbar' %}
       {% endblock %}

    <div class='container '>

        {% block content %}
        {% endblock %}
        
    </div>


{% include 'base/js.html' %}
<script>
$(document).ready(function(){

    var productForm = $('.form-product-ajax')
    
    productForm.submit(function(event){
        event.preventDefault();
        console.log('Form is not sending')
        var thisForm = $(this)
        var actionEndpoint = thisForm.attr('action');
        var httpMethod = thisForm.attr('method');
        var formData = thisForm.serialize();

        $.ajax({
            url: actionEndpoint,
            method: httpMethod,
            data: formData,
            success: function(data){
                console.log('success', data)
                console.log('added', data.added)
                console.log('removed', data.removed)
                var submitSpan = thisForm.find('.submit-span')
                console.log(submitSpan.html())
                if (data.added){
                    submitSpan.html('<button type="submit" class="btn btn-warning">Delete from cart</button>')
                } else {
                    submitSpan.html('<button type="submit" class="btn btn-success">Add to cart</button>')
                 }
                var cartCounter = $('.navbar-cart-counter')
                cartCounter.text(data.cartItemCounter)
            },
            error: function(errorData){
                console.log('error', errorData)
            }

        })

    })
})

</script>
</body>
</html>