<!doctype html>
{% load static %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


{% block base_head %}
    <link rel='stylesheet' href="{% static 'css/main.css' %}">
{% endblock %}

{% include 'base/css.html' %}

<title>{{title}}</title>

</head>

<body class='fw-bolder'>  
       {% block navbar %}
            {% include 'base/navbar.html' with brand_name='Some navbar' %}
       {% endblock %}

    <div class='container '>
    
        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
            <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} Important: {% endif %}
                {{message}}
            </p>
            {%endfor%}
        </ul>
        {% endif %}


        {% block content %}
        
        {% endblock %}
        
    </div>


{% include 'base/js.html' %}

{% block javascript %}
{% endblock javascript %}

</body>
</html>