<!doctype html>
{% load static %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


{% block base_head %}
    <link rel='stylesheet' href="{% static 'css/main.css' %}">
{% endblock %}

{% include 'base/css.html' %}

<title>{{title}}</title>

</head>


<body class='fw-bolder'>  
       {% block navbar %}
            {% include 'base/navbar.html' with brand_name='Some navbar' %}
       {% endblock %}

    <div class='container '>

        {% block content %}
        {% endblock %}
        
    </div>


{% include 'base/js.html' %}
<script>
$(document).ready(function(){

    var productForm = $('.form-product-ajax')
    
    productForm.submit(function(event){
        event.preventDefault();
        var thisForm = $(this)
        // var actionEndpoint = thisForm.attr('action'); // API Endpoint
        var httpMethod = thisForm.attr('method');
        var formData = thisForm.serialize();
        var actionEndpoint = thisForm.attr('data-endpoint');
        $.ajax({
            url: actionEndpoint,
            method: httpMethod,
            data: formData,
            success: function(data){
                var currentPath = window.location.href
                console.log(currentPath)
                var submitSpan = thisForm.find('.submit-span')
                if (data.added){
                    
                    submitSpan.html('<button type="submit" class="btn btn-warning">Remove</button>')
                } else {
                    submitSpan.html('<button type="submit" class="btn btn-success">Add to cart</button>')
                 }
                var cartCounter = $('.navbar-cart-counter')
                cartCounter.text(data.cartItemCounter)
                if (currentPath.indexOf('cart') != -1) {
                    refreshCart()
                }
            },
            error: function(errorData){
                console.log('error: ', errorData)
            }})})

        function refreshCart(){
            console.log('refresh cart is ready')
            var cartTable = $('.cart-table')
            var cartBody  = cartTable.find('.cart-body')
            var cartTotal = $('.cart-total')
            var cartProducts = cartBody.find('.cart-products')
            var currentUrl = window.location.href



            var refreshCartUrl    = '/api/cart/'
            var refreshCartMethod = 'GET'
            var data = {}
            $.ajax({
                url: refreshCartUrl,
                method: refreshCartMethod,
                data: data,
                success: function(data){
                    var hiddentCartItemRemoveForm = $('.cart-item-remove-form')
                    if (data.products.length > 0)
                    {
                    cartProducts.html('')
                    i = data.products.length
                    $.each(data.products, function(index,value){
                        console.log(value)
                        var newCartItemRemove = hiddentCartItemRemoveForm.clone()
                        newCartItemRemove.css('display', 'block')
                        newCartItemRemove.find('.cart-item-product-id').val(value.id)
                        cartBody.prepend('<tr><th scope="row">' + i + '</th><td><a href="' + value.url + '">' + value.title + '</a></td>' + '<td>' + value.description + '</td><td>' + value.price + ' $ </td>'  + '<td>' + newCartItemRemove.html() + '</td></tr>')
                        i--
                    })
                    cartTotal.text(data.total)
                    } else {
                        window.location.href = currentUrl
                    }

                },
                error: function(errorData){
                    console.log('error')
                    console.log(errorData)
                }})
                            }

})

</script>
</body>
</html>